* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif; 
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;

}

/* HEADER */

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 55px;
    background:seagreen ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(22, 182, 7, 0.253);
    backdrop-filter: blur(20px);
    z-index: 1000;
}

.logo {
    font-size: 32px;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    cursor: pointer;
    
}

.navbar a {
    position: relative;
    font-size: 18px;
    color:#fff;
    text-decoration: none;
    margin-left: 40px;
}

.navbar a::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #fff;
}

.navbar a:hover::before{
    width: 100%
}

/* HERO */

.hero {
    position: relative;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    text-align: center;

}

.heroimage {
    width: 100%;
    height: 700px;
    object-fit: cover;
}

.plantimage {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: -1;
    filter: brightness(90%)
}

.hero-content {
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:#fff;
}

.hero h1 {
    font-size: 4rem;
    margin-bottom: 10px;
}

.hero p {
    font-size: 1.3rem;
    margin-bottom: 30px;
    color:rgb(131, 255, 120);
}

/* MENU */
.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

section{
    margin: 0;
    margin-top: -120px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

/*FEATURED ITEM*/
.featured-item{
    text-align: center;
    margin-bottom: 25px;
}

.featured-item h2{
    margin-bottom: 20px;
    font-size: 50px;  
}

.featured-content {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    gap: 20px; 
}

.featured-about {
    flex: 1;
    max-width: 50%;
    text-align: left;
    font-size: 30px;
}

.featured-pic {
    flex: 0 0 auto;
}

.featured-pic img {
    border-radius: 10px;
    max-width: 100%;
    height: auto;
    margin: 15px;
}

 /* MENU SLIDER STUFF */
.slider {
    position: relative;
    width: 100%;
    height: 370px;
    overflow:hidden;
}

.slider button{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%); 
    background-color: rgba(255, 255, 255, 0.6); 
    color: rgb(11, 26, 16);
    font-weight: bold;
    border: none; 
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer; 
    font-size: 16px; 
}

.item {
    position: absolute;
    width: 300px;
    height: 300px;
    text-align: justify;
    background-color: rgb(131, 255, 120);
    border-radius: 10px;
    transition: .5s;
    left: calc(50% - 110px);
    top: 0;
}

.item h1 {
    position: absolute;
    text-align: center;
    text-align: center;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 10%;
    color: #fff;
    font-weight: 200px;
    font-size: 20px;
}

.item img{
    border-radius: 10px;
    left: ;
}

#next, #prev {
    position: absolute;
    top: 40%;
    color:rgb(11, 26, 16);
    background-color: transparent;
    border: none;
    font-size: xx-large;
    font-weight: bold;
    left: 50px;
}

#next {
    left: unset;
    right: 50px;

}

/* FOOTER */
footer {
    background-color: rgb(11, 26, 16);
    color: #fff;
    padding: 30px;
    
}

.header-info a {
    color: #fff;
    margin: 10px;
}

.header-about {
    padding: 10px;
    margin-top: 10px;
}

