/* FOOTER */
.footer-content {
    background-color: rgba(44, 29, 22, 0.9); /* Darker, warm neutral */
    color: #FFFDD0;
    text-align: center;
    padding: 20px;
}

#footer-logo:hover {
    cursor: pointer;
}

footer a {
    color: #FF8C42; /* Orange */
    margin: 0 10px;
    text-decoration: none;
    transition: color 0.3s ease;
}

footer a:hover {
    color: #FF6F00; /* Darker orange hover */
}

.copyright {
    margin-top: 10px;
}